<head>
<link rel="stylesheet" href="styles/add_books.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Add books</h1>
<hr>
<div  class="c1">
<form action="/add_books" method="post" >
        <input type="text" name="add_new_book" placeholder="Book name" class="input">
        <input type="text" name="add_author" placeholder="Author" class="input">
        <input type="number" name="add_qty" placeholder= 0 class="input">
        <button type="submit" name="add_books" class="input">Add</button>
       
<table id="tb">
  {% if posts!=null %}
  <tr>
    <th id="tit">Book name</th>
    <th id="tit">Author</th>
  </tr>  
    {% endif %}
  {% for post in posts %}
  <tr>
  <td id="tit2">{{post.book_name}}</td>
  <td id="tit2">{{post.author}}</td>
  </tr>
  {% endfor %}
  </table>
  {% if added %}
  <p>
    <em><strong>Successfully</strong> added!</em>
  </p>
  {% endif %}
  <input type ="submit" name="end" value="Go back" id="c2" class="input">
 </form>
</div>