<head>
<link rel="stylesheet" href="styles/admin_reg.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Admin registration</h1>
<hr>
<form action="/admin_reg" method="POST" id="admin_page">
            <div class="c1">
                <input type="text" name="name" placeholder="username" id="i1" class="input">
                <br>
                <input type="password" name="password" placeholder="password" id="i2" class="input">
                <br>
                <input type="password" name="confirm_password" placeholder="confirm password" id="i3" class="input">
                <br>
                <input type="submit" value="Admin Registration" class="input" id="submit_type"/>
            </div>
        </form>