<head>
<link rel="stylesheet" href="styles/admin_reg_app.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Admin registration approval</h1>
<hr>
<form action="/admin_reg_app" method="post"  class="c1">
<table>
    {% if regs!=null %}
    <th id="tit">Name</th>
    <th id="tit">Approve</th>
    <th id="tit">Disapprove</th>
    {% endif %}
  {% for post in regs %}
  <tr>
    <td><p id="tit2">{{post.name}}</p></td>
    <td><input type="submit" class="input app" name="admin_reg_app"  value="{{post.name}}"></input></td>
    <td><input type="submit" name="admin_reg_app_d" class="input disapp" value="{{post.name}}"></input></td>
  </tr>
  {% endfor %}
</table>

{% if approved %}
  <p>
    <em><strong>Successfully</strong> approved!</em>
  </p>
  {% endif %}
  {% if disapproved %}
  <p>
    <em><strong>Successfully</strong> disapproved!</em>
  </p>
  {% endif %}
  <input type ="submit" name="end" class="input" id="c2" value="Go back">
</form>