<h1>Admin logged in</h1>
<p>What would you like to do?</p>
<form action="/admin_log_page" method="POST">
<input type = "submit" value = "Add books" name="add_books"></input>
<input type = "submit" value = "Delete books" name="delete_books"></input>
<input type = "submit" value = "Check out requests" name="check_out_req"></input>
<input type = "submit" value = "Admin registration approval" name="admin_reg_app"></input>
<input type = "submit" value = "Log out" name="Log_out"></input>
</form>
