<head>
<link rel="stylesheet" href="styles/admin_log.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Admin login</h1>
<hr>
<form action="/admin_log" method="POST" id="admin_page">
            <div class="c1">
                <input type="text" name="name" placeholder="username" class="input" id="i1">
                <br>
                <input type="password" name="password" class="input" placeholder="password" id="i2">
                <br>
                <input type="submit" value="Admin Login" class="input" id="submit_type"/>
            </div>
        </form>