<h1>Admin</h1>
<form action="/admin" method="POST">
<input type = "submit" value = "admin_login" name="admin_login_in"></input>
<input type = "submit" value = "admin_registration" name="admin_registration_in"></input>
</form>