<head><style>
body {
    background: #add8e6;
}
h1,p{
   font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
   font-size: 26px;
   font-weight: 400;
   text-align: center;
   
}
.c1{
    display: grid;
    column-gap: 4px;
    justify-content: center;
    grid-auto-flow: column;
    grid-template-columns: auto,auto;
    grid-template-rows: auto,auto,auto;
}
/* CSS */
.input {
  background-color: #e1ecf4;
  border-radius: 6px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.input:hover,
.input:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.input:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  border-radius : 2 vh;
}

.input:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
pre{
    height: 30vh;
}
</style>
</head>
<pre> </pre>
<h1>Admin logged in</h1>
<p>What would you like to do?</p>
<hr>
<form action="/admin_log_page" method="POST">
<div class="c1">
<input type = "submit" value = "Add books"  class="input" name="add_books"></input>
<input type = "submit" value = "Delete books"  class="input" name="delete_books"></input>
<input type = "submit" value = "Check out requests"  class="input" name="check_out_req"></input>
<input type = "submit" value = "Admin registration approval"  class="input" name="admin_reg_app"></input>
<input type = "submit" value = "Log out"  class="input" name="Log_out"></input></div>
</form>
