<h1>Admin login</h1>
<form action="/admin_log" method="POST" id="admin_page">
            <div>
                <input type="text" name="name" placeholder="username" id="i1">
                <br>
                <input type="password" name="password" placeholder="password" id="i2">
                <br>
                <input type="submit" value="admin_login" id="submit_type"/>
            </div>
        </form>