<head>
<link rel="stylesheet" href="styles/admin_log_page.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Admin logged in</h1>
<p>What would you like to do?</p>
<hr>
<form action="/admin_log_page" method="POST">
<div class="c1">
<input type = "submit" value = "Add books"  class="input" name="add_books"></input>
<input type = "submit" value = "Delete books"  class="input" name="delete_books"></input>
<input type = "submit" value = "Check out requests"  class="input" name="check_out_req"></input>
<input type = "submit" value = "Admin registration approval"  class="input" name="admin_reg_app"></input>
<input type = "submit" value = "Log out"  class="input" name="Log_out"></input></div>
</form>
