<head>
<link rel="stylesheet" href="styles/admin_reg_pg.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Admin registration request sent!</h1>
<hr><div class="c1">
<a href = "/"><input type = "submit" value = "Log out" class="input" name="Log_out"></input></a>
</div>