<head>
<link rel="stylesheet" href="styles/admin.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Admin</h1>
<hr>
<form action="/admin" method="POST"><div class="c1">
<input type = "submit" value = "Admin Login" name="admin_login_in" class="input"></input>
<input type = "submit" value = "Admin Registration" name="admin_registration_in" class="input"></input>
<input type = "submit" value = "Go back" name="end"  class="input"></input>
</div></form>