<head>
<link rel="stylesheet" href="styles/any_data_pg.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>{{variable}}</h1>
<hr>
<div  class="c1">
<form action="/any_data_pg" method="post" >
        
  <input type ="submit" name="end" value="Go back" id="c2" class="input">
 </form>
</div>