<!DOCTYPE html>
<html lang="en">

  <head>
  {% block head %}
    {% include("templates/head.twig") %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>
</html>
