<head>
<link rel="stylesheet" href="styles/client_reg.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Client registration</h1>
<hr>
<form action="/client_reg" method="POST" id="client_page">
            <div class="c1">
                <input type="text" name="name" placeholder="username" class="input" id="i1">
                <br>
                <input type="password" name="password" placeholder="password" class="input" id="i2">
                <br>
                <input type="password" name="confirm_password" class="input" placeholder="confirm password" id="i3">
                <br>
                <input type="submit" name="client_registration_submit" class="input" value="Client Registration" id="submit_type"/>
            </div>
        </form>