<head>
<link rel="stylesheet" href="styles/client.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Client</h1>
<hr>
<form action="/client" method="POST"><div class="c1">
<input type = "submit" value = "Client Login" name="client_login_in" class="input"></input>
<input type = "submit" value = "Client Registration" name="client_registration_in" class="input"></input>
<input type = "submit" value = "Go back" name="end"  class="input"></input>
</div>
</form>