<h1>Client login</h1>
<form action="/client_log" method="POST" id="client_page">
            <div>
                <input type="text" name="name" placeholder="username" id="i1">
                <br>
                <input type="password" name="password" placeholder="password" id="i2">
                <br>
                <input type="submit" value="client_login" id="submit_type"/>
            </div>
        </form>