<head>
<link rel="stylesheet" href="styles/client_reg_page.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Client registration</h1>
<hr>
<form action="/client_reg_pg" method="post" class="c1">
<table>
    {% if sp!=null %}<tr id="tit">
    <th class="ss">Book name</th> 
    <th class="ss">Author</th> 
    <th class="ss">Check out</th>
    </tr>{% endif %}
  {% for post in sp %}
  <tbody>
  <tr>
    <td class="ss">{{post.book_name}}</td> 
    <td class="ss">{{post.author}}</td>
    <td><input type="submit" class="input" name="client_reg_pg" value="{{post.isbn}},--{{name}}"></input></td>
  </tr></tbody>
  {% endfor %}
</table>
{% if sent %}
  <p>
    <em><strong>Successfully</strong> sent the request!</em>
  </p>
  {% endif %}
  <input type ="submit" name="end" value="Go back"  class="input" id="c3"></input>
  <input type = "submit" value = "Log out" name="Log_out"  id="c4" class="input"></input>
</form>