
<head>
<link rel="stylesheet" href="styles/delete_books.css">
<link rel="stylesheet" href="styles/main.css">
</head>

<pre> </pre>
<h1>Delete book</h1>
<hr>
<form action="/delete_books" method="post" class="c1">
<table>
    {% if posts!=null %}
    <tr>
    <th id="tit">Book name</th></tr>
    {% endif %}
  {% for post in posts %}
  <tr><td>
    <input type="submit" name="delete_books" class="input"  value="{{post.book_name}}"></input>
  </td></tr>
  {% endfor %}
</table>

{% if deleted %}
  <p>
    <em><strong>Successfully</strong> deleted!</em>
  </p>
  {% endif %}
  <input type ="submit" name="end" value="Go back" class="input" id="c2">
</form>