
<head>
<title>Book buddy</title>
<link rel="stylesheet" href="styles/home.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<pre> </pre>
<h1>Welcome to Book buddy</h1>
<hr>
<form action="/" method="POST"><div class="c1">
<input type = "submit" value = "Client" name="client_in" class="input" style="margin: 5vh,60vw ;"></input>
<input type = "submit" value = "Admin" name="admin_in" class="input" style="margin: 5vh,40vw;"></input></div>
</form>

